.picker {
  background-color: #d8d8d8;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding-top: 8px;
  border: 1px solid white;
  padding-bottom: 40px;
  color: black;
  .output {
    padding-bottom: 20px;
    .outputBar {
      display: flex;
      align-items: center;
      width: 90%;
      max-width: 500px;
      margin: auto;
      justify-content: center;
      .outputLink {
        vertical-align: middle;
        line-height: 30px;
        height: 30px;
        text-align: center;
        resize: none;
        width: 90%;
        color: #00e;
      }

      .clipboardAndAlert {
        position: relative;
        .clipboardButton {
          margin-left: 4px;
          width: 40px;
          img {
            width: 100%;
          }
        }
        .copiedAlert {
          background-color: #77dd77;
          border-radius: 5px;
          padding: 3px 10px;
          position: absolute;
          bottom: 40px;
          left: -30%;
        }
      }
    }
  }
}
