.label{
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
}
.label > div {
    font-weight: lighter;
    font-size: smaller;
}

.date, .time, .timeUntil, .localTime{
    color: rgb(122, 236, 236);
}

.date{
    font-size: 150%;
    margin-top: 50px;
}

.time{
    font-size: 300%;
    margin-top: 20px;
}

.timezonePicker{
    text-align: center;
    background-color: white;
    width: 70%;
    max-width: 350px;
}

.timeUntil{
    margin-top: 100px;
}


.customTimezone{
    border-top: 1px solid white;
    width: 90%;
    max-width: 800px;
    margin: 100px auto;
}

.localTimeBox{
    font-size: larger;
    margin-top: 20px;
}
.localTime{
    font-size: xx-large;
}

.createLink{
    margin: 200px auto;
    width: fit-content;
    border: 2px solid white;
    padding: 10px;
}