.conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;

  .sms {
    font-size: xx-large;
    margin: 20px 0px;
    text-align: left;
    div {
      max-width: 70%;
      border-radius: 10px;
      padding: 10px 25px;
    }
    .left {
      float: left;
      color: black;
      margin-left: 30px;
      background-color: #d8d8d8;
      width: fit-content;
    }
    .right {
      float: right;
      background-color: #218aff;
      margin-right: 30px;
    }
  }
}
